@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');


body {
    font-family: Michroma, serif;
    background: linear-gradient(0deg, #4d648d
     0%, #d0e1f9 100%);
}
p{
    color: black;
}
.card {
    height: 100%;
  }
  
  


.nav-link {
    color: #d0e1f9;
}

.navbar-nav .nav-link.active {
    color: #d0e1f9;
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: #d0e1f9;
}

.sidebar {
    color: #1e1f26;
    background: linear-gradient(0deg, #4d648d
     0%, #d0e1f9 100%);
}

.card {
    background: linear-gradient(0deg, #4d648d
     0%, #d0e1f9 100%);
}

.card a {
    text-decoration: none;
    color: #1e1f26;
}

.slide-text,
.footer-text {
    color: #1e1f26;
    margin: auto auto;
}

footer,
.btn-outline-primary {
    background: linear-gradient(0deg, #4d648d
     0%, #d0e1f9 100%);
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-primary{
    background-color: #d0e1f9;
}

.call-anim{
    animation: call 2s ease 0s 7 normal forwards;
}
@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}

@media (max-width : 750px) {
    .carousel-indicators {
        display: none;
    }
}

